<form class="ui stacked segment form" action="/stations/${_station.id}/addreading" method="POST">
    <div class="four fields">
        <div class="field">
            <label>Code</label>
            <input placeholder="Code" type="decimal" name="code">
        </div>
        <div class="field">
            <label>Temp</label>
            <input placeholder="Temperature" type="decimal" name="temp">
        </div>
        <div class="field">
            <label>Wind Speed</label>
            <input placeholder="Wind Speed" type="decimal" name="windspeed">
        </div>
        <div class="field">
            <label>Pressure</label>
            <input placeholder="Pressure" type="decimal" name="pressure">
        </div>
    </div>
    <button class="ui black submit button"> Add Reading </button>
</form>