<div class="ui piled segment">
    <div class="ui center aligned grid">
        <div class="five column row">
            <div class="ui raised segment column">
                <h5>${station.stname}</h5>
            </div>
            <div class="ui raised segment column">
                <h5>Weather</h5>
            </div>
            <div class="ui raised segment column">
                <h5>Temp</h5>
            </div>
            <div class="ui raised segment column">
                <h5>Wind</h5>
            </div>
            <div class="ui raised segment column">
                <h5>Pressure</h5>
            </div>
        </div>
    </div>
</div>