#{extends 'main.html' /}
#{set title:'Playlist' /}

#{menu id:"dashboard"/}

<div class="ui piled segment">
    <div class="ui center aligned grid">
        <div class="five column row">
            <div class="ui raised segment column">
                <h3>${station.stname}<i class="purple map marker alternate icon"></i></h3>
            </div>
            <div class="ui raised segment column">
                <h3>Weather <i class="yellow cloud sun icon"></i> </h3>
                <h5>${latestReading?.code}</h5>
            </div>
            <div class="ui raised segment column">
                <h3>Temp <i class="blue temperature high icon"></i> </h3>
                <h5>${latestReading?.temp}</h5>
            </div>
            <div class="ui raised segment column">
                <h3>Wind <i class="green wind icon"></i></h3>
                <h5>${latestReading?.windspeed}</h5>
            </div>
            <div class="ui raised segment column">
                <h3>Pressure <i class="red first order icon"></i></h3>
                <h5>${latestReading?.pressure}</h5>
            </div>
        </div>
    </div>

<section class="ui segment">
    <h2 class="ui header">
     ${station.stname}
  </h2>
  #{listreadings station:station /}
  #{addreading station:station /}
</section>
</div>
