#{extends 'main.html' /}
#{set title:'Playlist' /}

#{menu id:"dashboard"/}

<div class="ui piled segment">
    <div class="ui aligned grid">
        <div class="five column row">
            <div class="ui raised segment column">
                <h3>${station.stname}<i class="purple big map marker alternate icon"></i></h3>
            </div>
            <div class="ui raised segment column">
                <h3>Weather <i class="yellow big cloud sun icon"></i> </h3>
                <p>${weatherCondition}</p>
            </div>
            <div class="ui raised segment column">
                <h3>Temp <i class="blue big temperature high icon"></i> </h3>
                <p>${latestReading?.temp} C</p>
                <p>${fahrenheit} F</p>
            </div>
            <div class="ui raised segment column">
                <h3>Wind <i class="green big wind icon"></i></h3>
                <p>${latestReading?.windspeed}</p>
            </div>
            <div class="ui raised segment column">
                <h3>Pressure <i class="red big first order icon"></i></h3>
                <p>${latestReading?.pressure} hpa</p>
            </div>
        </div>
    </div>

<section class="ui segment">
    <h2 class="ui header">
     ${station.stname}
  </h2>
  #{listreadings station:station /}
  #{addreading station:station /}
</section>
</div>
